body{
  margin: 0;
  padding: 0;
  font-family: Verdana,sans-serif;
  background-color: white;
}
.header-container{
  background-color: rgba(101, 96, 98, 0.41);
  height: 60px;
  margin-bottom: 70px;
  font-size: 15px;
}
header p{
  float: left;
}
.header-right{
  line-height: 60px;
  float: right;
}
.header-right a{
  margin-left:20px;
}
.main-container {
  text-align: center;
  margin-bottom: 20px;
}
.main-container p{
  font-size: 20px;
}
.main-image{
  max-width: 100%;
  height: auto;
  margin-bottom: 60px;
}
.share{
  text-align: center;
  border-bottom: solid 2px black;
  font-size: 20px;
}
.output{
  margin-bottom: 50px;
  text-align: center;
  background-color: rgb(44, 157, 199);
  padding: 10px 0;
}
.login{
  margin: 40px 0;
  text-align: right;
}
.login a{
  margin: 10px;
  color: black;
}
.upload{
  width: auto;
  height: auto;
}
.upload-container{
  width:700px;
  margin:80px auto;
  font-size: 15px;
}
.up{
  text-decoration: none;
  color: black;
}
.title p:first-child{
  font-weight: bold;
  text-align: center;

}
.title p:last-child{
  font-size: 20px;
}
.title-link{
  text-decoration: none;
  color: black;
}
.intr p:first-child{
  font-weight: bold;
  text-align: center;
}
.keyword p:first-child{
  font-weight: bold;
  margin-right: 30px;
}
.keyword p{
  display: inline-block;
  margin-right: 20px;
}
.presenter p:first-child{
  font-weight: bold;
  margin-right:30px;
}
.presenter p{
  display: inline-block;
  margin-right: 20px;
}
.maintext p:first-child{
    font-weight: bold;

}
.maintext p:last-child{
  white-space:pre-wrap;
}
.time{

}
.next a{
  color: black;
}
.next{
  text-align: center;
}
.footer-container{
  background-color: rgba(101, 96, 98, 0.41);
  margin-top: 20px;
  font-size: 15px;

}
.footer-t{
  text-align: center;
}
.footer-t p{
  display: inline-block;
  margin: 0 10px;
}
.copy{
  text-align: center;
}
.btn{
	width: 100px;
	display: block;
	margin: 10px auto;
}
.btn-square {
	width: 150px;
	height: 40px;
  display: block;
	text-align: center;
	margin: auto;
  padding: 0.5em 1em;
  text-decoration: none;
	color: white;
  background: rgba(39, 55, 42, 0.78);/*ボタン色*/
  border-bottom: solid 4px rgba(63, 65, 57, 0.65);
  border-radius: 3px;
}
h2{
  margin: 10px;
}
.form{
  margin: 10px;
}
#confirm-t{
  text-align: center;
  margin-bottom: 60px;
}
.menu-container{
  text-align: center;
}
.menu-container form{
  display: inline-block;
}
